{% extends 'Base.html.jinja' %}

{% block headercontent %} {% endblock %}

{% block content %}
	<h2 class='card-title' style="text-align: center; margin-top: 10px;"><strong>Home</strong></h2>

	<div style='text-align: left; margin: 5px 20%; padding: 10px;' class='shadow bg-white'>
		<h5 class="ml-2 mt-3 font-weight-bold">Quick Links</h5>
		<ul>
			<li><a href="/tickets/edit">Create New Ticket</a></li>
			<li><a href="/tickets?created_by={{ user['response']['username'] }}">My Tickets</a> - show tickets created by me</li>
			<li><a href="/relvals?created_by={{ user['response']['username'] }}">My Relvals</a> - show relvals created by me</li>
		</ul>
	</div>
<script type="text/javascript">
	$('title').html('AlCaVal | Home')
</script>
{% endblock %}