<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="display: flex; width: fit-content; min-width: 800px;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: unset;">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom:unset;">
	      <form id="testform">
	        <div class="form-group">
		        <div class="row">
		        	<div class="col-sm-2">
		            <span><b>Condition</b></span>
							</div>
				    	<div class="col-sm-7">
		            <span><b>Global Tag</b></span>
		          </div>
				    	<div class="col-sm-3">
				    		<span><b>Workflow IDs</b></span>
		          </div>	        
		        </div>
		      </div>

	        <div class="form-group">
		        <div class="row">
		        	<div class="col-sm-2 col-form-label">
		            <label for="recipient-name" >HLT</label>
							</div>
				    	<div class="col-sm-7">
		            <input type="text" class="form-control " id="cr_hlt_gt" name="hlt_gt">
	            </div>
				    	<div class="col-sm-3">
					    	<select name="HLT" id="wf_hlt_gt" multiple>
								</select>
		          </div>
		        </div>

		        <div class="row">
		        	<div class="col-sm-2 col-form-label">
			            <label for="message-text" >Prompt</label>
			        </div>
				    	<div class="col-sm-7">
		            <input type="text" class="form-control " id="cr_prompt_gt" name="prompt_gt">
	            </div>
				    	<div class="col-sm-3">
					    	<select name="Prompt" id="wf_prompt_gt" multiple>
								</select>
		          </div>
		        </div>

		        <div class="row">
		        	<div class="col-sm-2 col-form-label">
			            <label for="recipient-name" >Express</label>
							</div>
				    	<div class="col-sm-7">
		            <input type="text" class="form-control " id="cr_express_gt" name="express_gt">
	            </div>
				    	<div class="col-sm-3">
					    	<select name="Express" id="wf_express_gt" multiple>
								</select>
		          </div>
		        </div>
		      </div>
	      </form>
      </div>
	    <div class="modal-footer" style="border-top: unset;">
	      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
	      <button type="button" class="btn btn-danger" id="alcaval-submit-id">Next</button>
	    </div>
    </div>
  </div>
</div>