{% extends 'Base.html.jinja' %}

{% block content %}

{% if createNew %}
    <h2 class="page-title" style="text-align: center;"><span class="font-weight-light">Creating</span> <b>new ticket</b></h2>
{% else %}
    <h2 class="page-title" style="text-align: center;"><span class="font-weight-light">Editing ticket</span> <b>{{form.prepid.data}}</b></h2>
{% endif %}

<form method="POST" style='text-align: left; margin: 5px 20%; padding: 10px;' class='shadow bg-white' >
    
    {{ form.hidden_tag() }}

    <div class="form-group">
        {% for item in form if not item.id in ['submit', 'csrf_token'] %}
            <div class="row" id="{{ item.id }}_row">
                {{ item.label() }} 
            <div class="{{ 'col-sm-4' if item.id == 'matrix' else 'col-sm-9'}}">
                {{ item() }}
            </div>
            </div>

            {% for error in item.errors %}
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9" style=" padding-bottom: 15px; color: red;">
                        {{error}}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div style="text-align: center;">
	    {{ form.submit(class_="btn btn-primary", value="Save Ticket") }}
        <button class="btn btn-danger" onclick="cancel(); return false;">Cancel</button>
	</div>
</form>

<script type="text/javascript">
    function cancel(){
        window.location = '/tickets';
    }

    // Show common_prompt_gt option only when `hlt_gt` is not empty
    $(document).ready(function() {
        if ($('#hlt_gt').val() === '') {
            $('#common_prompt_gt_row').hide();
        }
        $('#hlt_gt').keyup(function(){
            if (this.value.trim() !== ''){
                $('#common_prompt_gt_row').show();
            } else {
                $('#common_prompt_gt_row').hide();
            }
        });
    });

</script>

<style type="text/css">
  .required:after {
    content:" *";
    color: red;
  }
</style>
{% endblock %}

