{% extends 'Base.html.jinja' %}
{% block headercontent %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/fh-3.2.2/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/fh-3.2.2/datatables.min.js"></script>
  <script type="text/javascript" src="{{ url_for('tickets.static', filename='js/Jira.js') }}"></script>
  <link href="{{ url_for('static', filename='css/datatables_style_override.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <h2 style="text-align: center; margin-top: 10px;"><strong>Tickets</strong></h2>
  <div id="id_table1" style="padding: 2px;">
    {{ table.__html__() }}
  </div>

  {% include 'ConditionModal.html' %}
  {% include 'JiraModal.html' %}

  <footer class="footer fixed-bottom badge-light" style="padding: 0 12px; display: inline-flex; justify-content: space-between; box-shadow: -1px 0px 7px 1px gray;">
    <div id="new_ticket_link_at_footer_id" class="actions" style="display: flex;align-items: center;">
       <a href="/tickets/edit" title="Create new ticket">New Ticket</a>
    </div>
  </footer>

  <script>
    (function(){
      {% if userinfo['role_index'] < 1 %}
        document.querySelectorAll('.cls_create_jira').forEach(element => {element.remove();});
        document.querySelectorAll('.create_relval_id').forEach(element => {element.remove();});
        document.querySelectorAll('.delete_ticket').forEach(element => {element.remove();});
      {% endif %}
    })();
  </script>

  <script type="text/javascript">
    var req = new XMLHttpRequest();
    var globalTicket;
    var items = {{ items }};
    var datatable = $('#ticket_list').DataTable({
      "scrollX": true,
      "pageLength": 50,
      "stateSave": true,
      "stateSaveParams": function (settings, data) {
        // Reset sorting and search state after refresh
        data.order = [];
      },
      fixedHeader: {
        header: true,
        headerOffset: 57
      },
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search tickets from the following table...",
        "info": "Showing _START_ - _END_ of _TOTAL_",
        "lengthMenu":     "Page Size: _MENU_"  
      },
      "order": [], // Remove any default sorting order
      "sDom": '<"top"f>rt<"pagecounter dataTables_wrapper no-footer"ilp><"clear">',
      // Appending Search bar to the top and pagination info to the bottom
      initComplete: (settings, json)=>{ 
        $('.table_info').appendTo('footer');
        $('.pagecounter').appendTo('footer');
        $('.top').appendTo('.mysearchbar');
        $('select').removeClass('custom-select-sm');
      }
    });

    function get_alca_wf_list(){
      // Returning list of workflows which are classified for AlCa
      var attached_wfs = globalTicket.attached_wfs
      let alca_wfs = []
      Object.keys(attached_wfs).forEach(function(key) {
        alca_wfs = alca_wfs.concat(attached_wfs[key])        
      })
      alca_wfs = new Set(alca_wfs)
      alca_wfs = Array.from(alca_wfs)
      return alca_wfs
    }

    function get_attached_wfs() {
      // Returning list of AlCa workflows in html format
      var alca_wfs = get_alca_wf_list()
      var attached_wfs = globalTicket.attached_wfs
      var input_datasets = globalTicket.input_datasets
      if (input_datasets.length){
        datamsg = joinList(input_datasets.map(function(x){x = x.split("/")[1]; return x}))
        datamsg = ' for ' + datamsg
      } else{
        datamsg = ''
      }
      if (alca_wfs.length === 0)return '';
      var html_output = '';
      Object.keys(attached_wfs).forEach(function(key) {
        if (attached_wfs[key].length !== 0) {html_output += '<li style="text-align: left"><b>'+key+' : </b>'+attached_wfs[key].join(', ')+datamsg+'</li>'}
      })
      html_output = '<p style="text-align: left">AlCa Specific:<ul>'+html_output+'</ul></p>'
      return html_output
    }

    function get_normal_workflows() {
      // Returning list of normal(Not AlCa specific) workflows in html format
      var alca_wfs = get_alca_wf_list()
      let wf_list = globalTicket.workflow_ids
      let difference = wf_list.filter(x => !alca_wfs.includes(x));
      let html_output = '<p style="text-align: left">Normal Workflows: <ul><li>'+difference.join(', ')+'</li></ul></p>'
      if (difference.length == 0) return '';
      return html_output
    }

    function create_relval(prepid) {
      var html_output = get_attached_wfs()
      var message = ''
      message += '<p style="text-align: left">Relvals will be created for following categories</p>'
      message += html_output
      message += get_normal_workflows()
      message += '<p style="text-align: left">You can NOT modify the ticket once relvals are created. You will need to create new ticket for further addition. Do you want to proceed?</p>';
      document.getElementById('goto_workflow_classifier_modal').style = "display: flex";
      activateConfirmModal('Create Relvals for <b>'+ prepid+'</b>?', message);
      $('#goahead_confirmationModal').on('click', function(){
        $('body').addClass('loading');
        req.onreadystatechange = alertContents;
        req.open('POST', 'api/tickets/create_relvals');
        req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        req.send('prepid='+ prepid);
      });

      function alertContents() {
        if (req.readyState === XMLHttpRequest.DONE) {
          if (req.status === 200) {
            window.location.reload(false);
            window.onload = function() { $('body').removeClass('loading');}
          } else {
            $('body').removeClass('loading');
            const AlertIcon = '<i class="bi bi-exclamation-triangle" style="color:red"></i>';
            alertModal(AlertIcon +' There was a problem with the request', JSON.parse(req.responseText).message);
          }
        }
      }
    }

    function delete_ticket(prepid) {
      const message = 'Do you want to proceed?';
      activateConfirmModal('Deleting a Ticket <b>'+ prepid+'</b>?', message);
      $('#goahead_confirmationModal').on('click', function(){
        $('#confirmationModal').modal('toggle');
        $('body').addClass('loading');
        req.onreadystatechange = alertContents;
        req.open('DELETE', 'api/tickets/delete');
        req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        req.send('prepid='+ prepid);
      });

      function alertContents() {
        if (req.readyState === XMLHttpRequest.DONE) {
          if (req.status === 200) {
            window.location.reload(false);
            window.onload = function() { $('body').removeClass('loading');}
          } else {
            $('body').removeClass('loading');
            const AlertIcon = '<i class="bi bi-exclamation-triangle" style="color:red"></i>';
            alertModal(AlertIcon +' There was a problem with the request', JSON.parse(req.responseText).message);
          }
        }
      }
    }

    function open_wf_classifier_modal(prepid, ticketData) {
      $('#exampleModal').on('show.bs.modal', function (event) {
        var modal = $(this)
        modal.find('#exampleModalLabel').text('Please classify workflows IDs for the given conditions by selecting below')
        modal.find('#cr_hlt_gt').val(items[prepid].hlt_gt)
        modal.find('#cr_prompt_gt').val(items[prepid].prompt_gt)
        modal.find('#cr_express_gt').val(items[prepid].express_gt)
        modal.find('#cr_hlt_gt_ref').val(items[prepid].hlt_gt_ref)
        modal.find('#cr_prompt_gt_ref').val(items[prepid].prompt_gt_ref)
        modal.find('#cr_express_gt_ref').val(items[prepid].express_gt_ref)
        $('input[id^="cr_"]').each(function(){
          this.disabled = true;
        })
        setWorkflowInForm(prepid, ticketData.attached_wfs)
        $(this).off('show.bs.modal');
      });
      $('#exampleModal').modal('show');

      // Run Multi-Select plugin and refresh choices
      var workflows = ['wf_hlt_gt', 'wf_prompt_gt', 'wf_express_gt']
      for (var i = 0; i < workflows.length; i++) {
        workflows[i]
        $('#'+workflows[i]).multiselect({
          numberDisplayed: 1,
          includeSelectAllOption: true,
          // maxHeight: 200,
          dropDown: true,
          buttonWidth: '160px'
        });
        $('#'+workflows[i]).multiselect('refresh');
      }

      function setWorkflowInForm(prepid, attached_wfs) {
        // Setting list of workflow IDs as options for classifier

        function selected(workflow, id) {
            // Return selected tag to classify workflows
            length = String(workflow).split('.').length
            wf = parseInt(String(workflow).split('.')[length-1])
            id = (id==undefined) ? 1: 0
            tag = (wf % 2  == id) ? '':'selected'
            return tag
        }
        var workflow_options_hlt = ''
        var workflow_options_prompt = ''
        var workflow_options_express = ''
        var wfs = items[prepid].workflow_ids

        empty_hlt_gt = (items[prepid].hlt_gt ==='' && items[prepid].hlt_gt_ref ==='')
        empty_prompt_gt = (items[prepid].prompt_gt ==='' && items[prepid].prompt_gt_ref ==='')
        empty_express_gt = (items[prepid].express_gt ==='' && items[prepid].express_gt_ref ==='')

        for (var i = 0; i < wfs.length; i++) {
          if (attached_wfs.HLT.includes(wfs[i])) {
            workflow_options_hlt += '<option value="'+wfs[i]+'" selected>'+wfs[i]+'</option>'
          } else if (!empty_hlt_gt) {
            workflow_options_hlt += '<option value="'+wfs[i]+'" '+selected(wfs[i], 0)+'>'+wfs[i]+'</option>'
          }
          if (attached_wfs.Prompt.includes(wfs[i])) {
            workflow_options_prompt += '<option value="'+wfs[i]+'" selected>'+wfs[i]+'</option>'
          } else if (!empty_prompt_gt) {
            workflow_options_prompt += '<option value="'+wfs[i]+'" '+selected(wfs[i])+'>'+wfs[i]+'</option>'
          }
          if (attached_wfs.Express.includes(wfs[i])) {
            workflow_options_express += '<option value="'+wfs[i]+'" selected>'+wfs[i]+'</option>'
          } else if (!empty_express_gt) {
            workflow_options_express += '<option value="'+wfs[i]+'" '+selected(wfs[i])+'>'+wfs[i]+'</option>'
          }
        }
        document.getElementById('wf_hlt_gt').innerHTML = workflow_options_hlt
        document.getElementById('wf_prompt_gt').innerHTML = workflow_options_prompt
        document.getElementById('wf_express_gt').innerHTML = workflow_options_express
        if (empty_hlt_gt)
          document.getElementById('hlt_row_id').style = "display: none";
        if (empty_prompt_gt)
          document.getElementById('prompt_row_id').style = "display: none";
        if (empty_express_gt)
          document.getElementById('express_row_id').style = "display: none";
      }
    }

    function create_alca_relval(prepid) {
      req.onreadystatechange = alertContents;
      req.open('GET', 'api/search?db_name=tickets&prepid='+prepid);
      req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      $('body').addClass('loading');    
      req.send();
      function alertContents() {
        if (req.readyState === XMLHttpRequest.DONE) {
          $('body').removeClass('loading');
          if (req.status === 200) {
            globalTicket = JSON.parse(req.responseText).response.results[0];
            open_wf_classifier_modal(prepid, JSON.parse(req.responseText).response.results[0])
          } else {
            const AlertIcon = '<i class="bi bi-exclamation-triangle" style="color:red"></i>';
            alertModal(AlertIcon +' There was a problem with the request', JSON.parse(req.responseText).message);
          }
        }
      }
    }

    $( "#alcaval-submit-id" ).on( "click", function( event ) {
      event.preventDefault();
      $('#exampleModal').modal('toggle');     
      var datas = formToJSON($('#testform').serializeArray());
      globalTicket['attached_wfs'] = datas
      saveClassifiedWfs(JSON.stringify(globalTicket))
      create_relval(globalTicket.prepid)
    });

    function saveClassifiedWfs(indata) {
      req.onreadystatechange = onloadFunc;
      req.open('POST', 'api/tickets/update');
      req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      $('body').addClass('loading');    
      req.send(indata);
      function onloadFunc() {
        if (req.readyState === XMLHttpRequest.DONE) {
          $('body').removeClass('loading');
          if (req.status === 200) {
            console.log('Classified workflows are saved to the DB');
          } else {
            const AlertIcon = '<i class="bi bi-exclamation-triangle" style="color:red"></i>';
            alertModal(AlertIcon +' There was a problem with the request', JSON.parse(req.responseText).message);
          }
        }
      }
    }

    $('title').html('AlCaVal | Tickets')
  </script>
{% endblock %}