/*Different styles for overrideing effect of datatables styling*/
/*Makee rows compact*/
table.dataTable tbody td {
  padding: 3px 12px;
}

.pagecounter{
  padding: 5px; 
  display: inline-flex;
}
/*Changed for aligning 'showing 10 of x entries' at middle*/
div.dataTables_wrapper div.dataTables_info {
  padding-top: unset;
  align-items: center;
  display: flex;
  padding-right: 10px;
}
div.dataTables_wrapper div.dataTables_length{
  display: flex;
  align-items: center;
  padding-right: 10px;
}
div.dataTables_wrapper div.dataTables_length label{
  display: flex;
  align-items: center;
  margin-bottom: unset;    
}
div.dataTables_filter{
  display: flex;
  align-items: center;
  padding-right: 10px;
}
div.dataTables_filter label{
  display: flex;
  align-items: center;
  margin-bottom: unset;    
  width: 300px;
}