{% extends 'Base.html.jinja' %}


{% block headercontent %} {% endblock %}

{% block content %}
	<h2 class='card-title' style="text-align: center; margin-top: 10px;"><strong>DQM Plots Comparison</strong></h2>

	<div style='text-align: left; margin: 5px 20%; padding: 10px;' class='shadow bg-white'>
		<h5 class="ml-2 mt-3 font-weight-bold">Quick Links</h5>
		<ul>
			<li><a href="/dqm/compare">Compare newly generated plots</a></li>
			<li><a href="/dqm/plots">Show DQM plots</a> - List of plots previously compared</li>
		</ul>
	</div>

<script type="text/javascript">
    $('title').html('AlCaVal | DQM')
</script>
{% endblock %}