{% extends 'Base.html.jinja' %}
{% block headercontent %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/fh-3.2.2/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/fh-3.2.2/datatables.min.js"></script>
  <link href="{{ url_for('static', filename='css/datatables_style_override.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<h2 style="text-align: center; margin-top: 10px;"><strong>DQM plots</strong> (at cmsweb dev)</h2>
	<div style="padding: 5px; margin-top: 2px;">
		{{ table.__html__() }}
	</div>

    <footer class="footer fixed-bottom badge-light" style="padding: 0 12px; display: inline-flex; justify-content: space-between; box-shadow: -1px 0px 7px 1px gray;">
    <div id="dqm_footer_links_id" class="actions" style="display: flex;align-items: center;">
       <a href="/dqm/compare" title="Compare new set of DQM dataset">Compare new set</a>
    </div>
    </footer>


	<script type="text/javascript">
    var datatable = $('#dqmplot_list').DataTable({
      "scrollX": true,
      "pageLength": 50,
      "stateSave": true,
      "stateSaveParams": function (settings, data) {
        // Reset sorting and search state after refresh
        data.order = [];
      },
      fixedHeader: {
        header: true,
        headerOffset: 57
      },
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Filter from the following table...",
        "info": "Showing _START_ - _END_ of _TOTAL_",
        "lengthMenu":     "Page Size: _MENU_"  
      },
      "order": [], // Remove any default sorting order
      "sDom": '<"top"f>rt<"pagecounter dataTables_wrapper no-footer"ilp><"clear">',
      // Appending Search bar to the top and pagination info to the bottom
      initComplete: (settings, json)=>{ 
        $('.table_info').appendTo('footer');
        $('.pagecounter').appendTo('footer');
        $('.top').appendTo('.mysearchbar');
        $('select').removeClass('custom-select-sm');
      }
    });

	    $('title').html('AlCaVal | DQM Plots')
	</script>
{% endblock %}