h1.page-title {
  text-align: center;
  margin: 8px 16px;
}

footer {
  padding: 7px 12px;
  justify-content: space-between;
  display: flex;
  box-shadow: -1px 0px 7px 1px gray;
  background-color: azure;
}

.footer-item {
  align-items: center;
  display: flex;
}