body {
    margin: 0;
    font-family: arial,x-locale-body,sans-serif;
    letter-spacing: -.0027777778rem;
    font-size: 100%;
    line-height: 2;
}

.web-title {
  text-decoration: none;
  color: darkblue; 
}

.login-btn {
  width: auto;
  padding:10px;
}

p {
  text-align: center;
}

h4 {
  margin: 5px;
}

.actions > a:not(:last-of-type)::after {
  color: rgba(0,0,0,.87);
  content: "|";
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
}


/* Taken from stack-overflow
https://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery
 */
.loadingAnim {
    display: none;
    top: 0px;
    position:   fixed;
    z-index:    1029;
    align-items: middle;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                /*url('http://i.stack.imgur.com/FhHRx.gif') */
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden 
   Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingAnim {
    overflow: hidden;   
    display: grid;
    text-align: center;
    align-items: center;
}
/*End*/

/*For laoding spinner to stay on top of footer*/
footer.fixed-bottom {
    z-index: 1028;
}

/* Highlight navbar buttons on hover */
.mynav-item {
    /*padding-right: 5px;*/
    padding-left: 5px;
}
.mynav-link {
    display: flex;
    /*padding: .5rem 1rem;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px; 
    color:  black;
}
.mynav-link:hover{
    color: black;
    opacity: 1;
    border-radius:5px;
    /*font-weight: bold;*/
    background: lavender;
}

/*Dev Ribbon*/
body.dev-ribbon:after {
  content: "Development";
  position: fixed;
  width: 400px;
  height: 50px;
  background: darkkhaki;
  top: 50px;
  right: -120px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  line-height: 50px;
  opacity: .7;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 9999;
  font-family: "Calisto MT", sans-serif;
}